:root {
  --main-text-color: #757575;
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-btn-bgc-color: #f5f4fa;
  --second-btn-bgc-color: #2196f3;
  --main-bgc-color: #ffffff;
  --second-bgc-color: #e5e5e5;
  --third-bgc-color: #f5f4fa;
  --unic-bgc-color: #2f303a;
}

body {
  background-color: #ffffff;
  color: #757575;
}

/*основной цвет текста  (абзацы) #757575*/
/*вторичный цвет текста  (заголовки) #212121 */
/*белый #FFFFFF */
/*акцент (ховер) #2196F3 */

/*основной цвет button #F5F4FA*/
/*вторичный цвет button #2196F3*/

/*основной цвет фона #FFFFFF */
/*вторичный цвет фона #E5E5E5 */
/*второй вторичный цвет фона #F5F4FA */
/*уникальный цвет фона #2F303A */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*-----------------HEADER------------------*/
.header-logo {
  color: var(--main-title-color);
}

.header-logo span {
  color: var(--accent-color);
}

.header-item {
  color: var(--main-title-color);
}

.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}

.header-contacts a {
  color: var(--main-text-color);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

/*----------------HERO------------------*/

.hero {
  background-color: var(--unic-bgc-color);
}

.hero-title {
  color: var(--second-title-color);
}

.hero-button {
  color: var(--second-btn-color);
  background-color: var(--second-btn-bgc-color);
}

/*-----------------ADVANTAGE--------------------*/

.advantage {
  background-color: var(--second-bgc-color);
}

.advantage-title {
  color: var(--main-title-color);
}

/*----------------------ABOUT--------------------*/

.about {
  background-color: var(--second-bgc-color);
}

.about-title {
  color: var(--main-title-color);
}

/*------------------TEAM--------------------------*/

.team {
  background-color: var(--third-bgc-color);
}

.team-title {
  color: var(--main-title-color);
}

.team-list-title {
  color: var(--main-title-color);
}

/*--------------------FOOTER-----------------------*/

.footer {
  background-color: var(--unic-bgc-color);
}

.footer-logo {
  color: #ffffff;
}

.footer-logo span {
  color: var(--accent-color);
}

.adress-link {
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

/*-------------------PORTFOLIO---------------*/
.main-portfolio {
  background-color: var(--second-bgc-color);
}

/*----------------------FILTERS--------------- */

.button {
  color: var(--main-btn-color);
  background-color: var(--main-btn-bgc-color);
}

.button:hover,
.button:focus {
  color: var(--second-btn-color);
  background-color: var(--second-btn-bgc-color);
}

/*--------------------PROJECTS------------------------*/

/*--------------------PROJECTS------------------------*/

.project-item {
  color: var(--main-bgc-color);
}

.project-title {
  color: var(--main-title-color);
}

.project-text {
  color: var(--main-text-color);
}
